<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
    <ul>
        <li>
            <a href="/users/promise">/users/promise</a>
        </li>
        <li>
            <a href="/users/observable">/users/observable</a>
        </li>
        <li>
            <a href="/users/async">/users/async</a>
        </li>
    </ul>
    
</div>